.AddNumberForm {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;

  input {
    padding: 8px 12px;
    min-width: 150px;
    margin: 0 10px;
  }

  button {
    padding: 8px 12px;
  }
}
